<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="gestor-clientes">
  <template>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <style>
      :host {
        display: block;
      }
    </style>

    <div class="container">
          <div class="row">
                <h1>Bienvenido a su tienda virtual</h1>
          </div>
          <br>
          <div class="row" >
                <!--button on-click="obtenerProductos" class="btn btn-success" type="button">Listado de Productos</button-->
                <button on-click="obtenerClientes" class="btn btn-success" type="button" name="obtenerClientes">Obtener Clientes</button>
                <br> <div class="col" hidden="true"> ------> </div>
                <button on-click="agregarCliente" class="btn btn-primary" type="button" name="agregarCliente">Agregar Producto</button>
                <br> <div class="col" hidden="true"> ------> </div>
                <button on-click="consultaPagos" class="btn btn-outline-primary" type="button" name="consultaPagos">Ver Carrito</button>
                <br>
                <tr> </tr>
                <br>
          </div>

          <div class="row" hidden$={{!cliBooleano}}>
                <table class="table table-striped">
                      <br><th></th>
                      <h4>Listado de registros</h1>
                      <br><th></th>
                </table>
                <table class="table table-bordered">
                      <thead>
                            <div class="col-md-3"><h5>IdCliente</h5></div>
                            <div class="col-md-3"><h5>Nombre</h5></div>
                            <div class="col-md-3"><h5>Apellido</h5></div>
                            <div class="col-md-3"><h5>Consultar Pagos</h5></div>
                      </thead>
                      <tr></tr>
                </table>
                <template is="dom-repeat" items="{{clientes}}" index-as="index">
                      <table class="table table-striped">
                            <tbody>
                                    <div class="col-md-3">{{item.idcliente}}</div>
                                    <div class="col-md-3">{{item.nombre}}</div>
                                    <div class="col-md-3">{{item.apellido}}</div>
                                    <div class="col-md-3">
                                        <button on-click="consultaPagos" class="btn btn-outline-primary" type="button" name="consultaPagos">Consultar Pagos</button>
                                    </div>
                            </tbody>
                      </table>
                </template>
          </div>

          <div class="row" hidden$={{!movsBooleano}}>
                <table class="table table-striped">
                      <br><th></th>
                      <h4>Listado de movimientos</h1>
                      <br><th></th>
                </table>
                <table class="table table-bordered">
                      <thead>
                            <div class="col-md-4"><h5># transacción</h5></div>
                            <div class="col-md-4"><h5>@email</h5></div>
                            <div class="col-md-4"><h5>referencia</h5></div>
                            <div class="col-md-4"><h5>monto</h5></div>
                            <div class="col-md-4"><h5>divisa</h5></div>
                            <div class="col-md-4"><h5>cargo/abono</h5></div>
                            <div class="col-md-4"><h5>tipo_mov</h5></div>
                            <div class="col-md-4"><h5>fecha movto</h5></div>
                      </thead>
                      <tr></tr>
                </table>
                <template is="dom-repeat" items="{{movtos}}" index-as="index">
                      <table class="table table-striped">
                            <tbody>
                                    <div class="col-md-4">{{item.idtrans}}</div>
                                    <div class="col-md-4">{{item.email}}</div>
                                    <div class="col-md-4">{{item.listadomov.referencia}}</div>
                                    <div class="col-md-4">{{item.listadomov.monto}}</div>
                                    <div class="col-md-4">{{item.listadomov.divisa}}</div>
                                    <div class="col-md-4">{{item.listadomov.cargo_abono}}</div>
                                    <div class="col-md-4">{{item.listadomov.tipo_mov}}</div>
                                    <div class="col-md-4">{{item.listadomov.fecha_alta}}</div>
                            </tbody>
                      </table>
                </template>
          </div>

    </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorClientes extends Polymer.Element {

      static get is() { return 'gestor-clientes'; }

      static get properties() {
        return {

          clientes: {
            type: Array,
            notify: true
          },
          cliBooleano: {
            type: Boolean,
            value: false
          },
          movtos: {
            type: Array,
            notify: true
          },
          movsBooleano: {
            type: Boolean,
            value: false
          }

        }
      }

      //incrementar() {
      //  this.prop2 = this.prop2 + 1;
      //  console.log("prop2: " + this.prop2);
      //  console.log("prop1: " + this.prop1);
      //}

      obtenerClientes() {
        console.log("entro al metodo obtenerClientes(0)");
        var request = new XMLHttpRequest();
        //var url = "https://services.odata.org/V4/Northwind/Northwind.svc/Customers";
        var url = "http://localhost:3010/v3/clientes";
        console.log("url: " + url);
        request.open("GET",url,false);
        console.log("entro al metodo obtenerClientes(3)");
        //request.setRequestHeader("Accept","application/json");
        console.log("entro al metodo obtenerClientes(4)");
        request.send();
        console.log(request.status);
        console.log(this.cliBooleano);
        if (request.status == 200) {
          this.cliBooleano = true;
          this.movsBooleano = false;
        } else {
          this.cliBooleano = false;
          this.movsBooleano = true;
        }
        console.log(this.cliBooleano);
        //this.respuesta = request.responseText;
        this.clientes = JSON.parse(request.responseText);
        //this.clientes = request.responseText;
        console.log("entro al metodo obtenerClientes(5)");
        //this.clientes = JSON.parse(request.responseText).value;
        //this.clientes = JSON.parse(request.responseText);
        console.table(this.clientes);
        //console.table(this.respuesta);
        console.log("entro al metodo obtenerClientes(7)");
      }

      agregarCliente() {
        var request = new XMLHttpRequest();
        var url = "https://services.odata.org/V4/Northwind/Northwind.svc/Customers";
        request.open("POST",url,false);
        request.setRequestHeader("Accept","application/json");
        request.setRequestHeader("Content-Type","application/json");
        var nuevoCliente = {"CustomerID":1234, "ContactName":"Pepillo", "CompanyName":"Pepillos Bar"};
        var body = JSON.stringify(nuevoCliente);

        request.send(body);
        this.respuesta = request.responseText;
        //console.table(JSON.parse(request.ResponseText).value);
        console.log(this.respuesta);
      }

      consultaPagos() {
        console.log("entro al metodo consultaPagos(0)");
        var request = new XMLHttpRequest();
        //var url = "https://services.odata.org/V4/Northwind/Northwind.svc/Customers";
        var url = "http://localhost:3010/v3/Movtos";
        console.log("url: " + url);
        request.open("GET",url,false);
        console.log("entro al metodo consultaPagos(3)");
        //request.setRequestHeader("Accept","application/json");
        console.log("entro al metodo consultaPagos(4)");
        request.send();
        console.log(request.status);
        console.log(this.movsBooleano);
        if (request.status == 200) {
          this.movsBooleano = true;
          this.cliBooleano = false;
        } else {
          this.movsBooleano = false;
          this.cliBooleano = true;
        }
        console.log(this.movsBooleano);
        //this.respuesta = request.responseText;
        this.movtos = JSON.parse(request.responseText);
        //this.clientes = request.responseText;
        console.log("entro al metodo consultaPagos(5)");
        //this.clientes = JSON.parse(request.responseText).value;
        //this.clientes = JSON.parse(request.responseText);
        console.table(this.movtos);
        //console.table(this.respuesta);
        console.log("entro al metodo consultaPagos(7)");
      }

    }  //class GestorClientes extends Polymer.Element

    window.customElements.define(GestorClientes.is, GestorClientes);
  </script>
</dom-module>
