<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/google-map/google-map.html">

<dom-module id="login-app">
      <template>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
            <style>
                  :host {
                        display: block;
                  }
            </style>

            <!-- Default form login -->
            <form class="text-center border border-light p-5" action="#!" hidden$={{logado}}>
                <p class="h4 mb-4">Sign in</p>
                <!-- Email -->
                <input type="email" value="{{email::input}}" class="form-control mb-4" placeholder="E-mail">
                <!-- Password -->
                <input type="password" value="{{password::input}}" class="form-control mb-4" placeholder="Password">

                <!-- Sign in button -->
                <button on-click="logar" class="btn btn-info btn-block my-4">Sign In</button>
            </form>
            <div class="row">
                  <span hidden$={{!logado}}>
                      <gestor-productos></gestor-productos>
                  </span>
            </div>

      </template>
      <script>
            //** * @customElement
            //    * @polymer
            class LoginApp extends Polymer.Element {
                  static get is() {
                        return 'login-app';
                  }
                  static get properties() {
                        return {
                                  email: { type: String },
                                  password: { type: String },
                                  logado: { type: Boolean,
                                            value: false }
                        }
                  }
                  logar() {
                        console.log("Se ha presionado el boton de Login");
                        var request = new XMLHttpRequest();
                        var url = "http://localhost:3010/v2/Login";
                        request.open("POST", url, false);
                        console.log("entro a open " + url );
                        request.setRequestHeader("Accept","application/json");
                        request.setRequestHeader("Content-Type","application/json");
                        request.setRequestHeader("email", this.email);
                        request.setRequestHeader("password",this.password);
                        //console.log("entro al setRequestheader(4)");
                        request.send();
                        console.log("entro al send");
                        this.respuesta = request.responseText;
                        console.log(request.status);
                        if (request.status == 200) {
                              this.logado = true;
                        } else {
                              this.logado = false;
                        }
                        console.log(request.status);
                        //this.clientes = JSON.parse(request.responseText);
                        //console.table(JSON.parse(request.ResponseText).value);
                        //console.table(this.clientes);
                        console.table(this.respuesta);
                  }
            }  //class GestorClientes extends Polymer.Element
            window.customElements.define(LoginApp.is, LoginApp);
      </script>
</dom-module>
