<!--Main Navigation-->
  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light scrolling-navbar">
    <a class="navbar-brand" href="#"><strong>Navbar</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
              <a class="nav-link"
                      <button on-click="obtenerProductos" class="btn btn-outline-primary btn-sm m-0 waves-effect" type="button">Productos</button>
              >Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
              <a class="nav-link"
                      <button on-click="obtenerProductos" class="btn btn-outline-primary btn-sm m-0 waves-effect" type="button">Productos</button>
              >Products</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Add Product</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Cart</a>
          </li>
      </ul>
        <ul class="navbar-nav nav-flex-icons">
            <li class="nav-item">
                <a class="nav-link" href="#">Logout</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Cart</a>
            </li>
        </ul>
    </div>
  </nav>

<!--Main Navigation-->
