<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="agregar-producto">
  <template>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <!-- MDBootstrap Datatables  -->
    <link href="../../css/addons/datatables.min.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <style>
      :host {
        display: block;
      }
    </style>

      	<head>
      	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
      	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous" >
      	<title>Agregar Producto</title>
      	</head>

      	<body>
      	    <div class="container" hidden$={{agregarBooleano}}>

      	        <form:form method="POST" modelAttribute="newProduct" class="form-horizontal" enctype="multipart/form-data">
      	        	<!-- revisar la siguiente linea -->
      	        	<!-- form:input path="*" cssClass="text-danger" element="div" /-->
      	            <fieldset>
      	                <legend>Add new product</legend>
                        <div class="input-group">
                          <span class="input-group-addon">ID Producto             :</span>
                          <input type="productoid"  value="{{productoid::input}}"    class="form-control" placeholder="Numero de Producto">
                        </div>
                        <div class="input-group">
                          <span class="input-group-addon">Nombre Producto         :</span>
                          <!--input id="name" type="text" class="form-control" name="name" placeholder="Numbre de Producto"-->
                          <input type="name"         value="{{name::input}}"         class="form-control" placeholder="Numbre de Producto">
                        </div>
                        <div class="input-group">
                          <span class="input-group-addon">Description del Producto:</span>
                          <input type="description"  value="{{description::input}}"  class="form-control" placeholder="Description del Producto">
                        </div>
                        <div class="input-group">
                          <span class="input-group-addon">Categoria               :</span>
                          <input type="categoria"    value="{{categoria::input}}"    class="form-control" placeholder="Categoria del Producto">
                        </div>
                        <div class="input-group">
                          <span class="input-group-addon">Precio Unitario         :</span>
                          <input type="priceUnit"    value="{{priceUnit::input}}"    class="form-control" placeholder="Precio Unitario">
                        </div>
                        <div class="input-group">
                          <span class="input-group-addon">Tipo Moneda             :</span>
                          <input type="divisa"       value="{{divisa::input}}"       class="form-control" placeholder="Moneda">
                        </div>
                        <div class="input-group">
                          <span class="input-group-addon">Fabricante              :</span>
                          <input type="manufacturer" value="{{manufacturer::input}}" class="form-control" placeholder="Manufacturer">
                        </div>
                        <div class="input-group">
                          <span class="input-group-addon">Unidades en Stock       :</span>
                          <input type="unitsInStock" value="{{unitsInStock::input}}" class="form-control" placeholder="UnidadesenStock">
                        </div>
                        <div class="input-group">
                          <span class="input-group-addon">Unidades por Ordenar    :</span>
                          <input type="unitsInOrder" value="{{unitsInOrder::input}}" class="form-control" placeholder="UnidadesporOrdenar">
                        </div>

      	                 <div class="form-group">
      	                    <div class="col-lg-offset-2 col-lg-10">
                                <button on-click="agregarProductoBD" class="btn btn-outline-primary" type="button" name="agregarProductoBD">Registra Producto</button>
      	                    </div>
      	                </div>

      	            </fieldset>

      	    </div>

            <!-- se activa seccion de productos, cuando se activa, se relentiza el proceso-->
            <!--div class="container" hidden$={{!agregarBooleano}}>
                  <gestor-productos></gestor-productos>
            </div-->

      	</body>
  </template>

  <script>
      /*** @customElement
         * @polymer        ***/
      class AgregarProducto extends Polymer.Element {

          static get is() { return 'agregar-producto'; }

          static get properties() {
              return {
                  productos: {      type: Array,
                                    notify: true  },
                  agregarBooleano: {   type: Boolean,
                                    value: false  },
                  movtos: {         type: Array,
                                    notify: true  },
                  movsBooleano: {   type: Boolean,
                                    value: false   },
                  productoid: { type: String },
                  name: { type: String },
                  description: { type: String },
                  categoria: { type: String },
                  priceUnit: { type: Number },
                  divisa: { type: String },
                  manufacturer: { type: String },
                  unitsInStock: { type: Number },
                  unitsInOrder: { type: Number }
              }
          }
          //incrementar() {
          //  this.prop2 = this.prop2 + 1;
          //  console.log("prop2: " + this.prop2);
          //  console.log("prop1: " + this.prop1);
          //}
          registraProducto() {
              console.log("entro al metodo agregarProducto(0)");
              var request = new XMLHttpRequest();
              var url = "http://localhost:3010/productos";
              console.log("url: " + url);
              request.open("GET",url,false);



              console.log("entro al metodo agregarProducto(4)");
              request.send();
              console.log(request.status);
              console.log(this.agregarBooleano);
              if (request.status == 200) {
                  this.agregarBooleano=true;
                  //this.prodBooleano = false;
                  //this.movsBooleano = false;
              } else {
                  this.agregarBooleano=false;
                  //this.prodBooleano = true;
                  //this.movsBooleano = false;
              }
              console.log(this.agregarBooleano);
              this.productos = JSON.parse(request.responseText);
              console.log("entro al metodo agregarProducto(5)");
              console.table(this.productos);
              console.log("entro al metodo agregarProducto(7)");
          }


          agregarProductoBD() {
              console.log("Entro al metodo: agregarProductoBD()");
              var request = new XMLHttpRequest();
              var requestbody = new XMLHttpRequest();
              var url = "http://localhost:3010/productosadd";

              request.open("POST",url,false );
              request.setRequestHeader("Accept","application/json");
              request.setRequestHeader("Content-Type","application/json");

              var DataFormulario = {
                  "IDProducto": this.productoid,
                  "Nombre": this.name,
                  "Descripcion": this.description,
                  "Categoria": this.categoria,
                  "PrecioUnitario": this.priceUnit ,
                  "Moneda": this.divisa,
                  "Fabricante": this.manufacturer,
                  "UnidadesStock": this.unitsInStock,
                  "UnidadesporOrdenar": this.unitsInOrder,
                  "Imagen": "Imagen999.png",
                  "TipoProducto": "Nuevo"
              }

              var body = JSON.stringify(DataFormulario);
              console.log("body: " + body);

              console.log("enviando peticion");

              request.send(body);

              console.log(request.status);
              this.respuesta = request.responseText;
              console.log(this.respuesta);

              console.log(this.agregarBooleano);
              if (request.status == 200) {
                  this.agregarBooleano=true;
                  this.prodBooleano = false;
                  this.movsBooleano = false;
              } else {
                  this.agregarBooleano=false;
                  this.prodBooleano = true;
                  this.movsBooleano = false;
              }
              console.log(this.agregarBooleano);
              console.log(this.prodBooleano);
              console.log(this.movsBooleano);

              console.log("entro al metodo agregarProductoBD(3)");
          }

      }  //class GestorClientes extends Polymer.Element

      window.customElements.define(AgregarProducto.is, AgregarProducto);
  </script>
</dom-module>
