<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/google-map/google-map.html">

<dom-module id="gestor-productos">
  <template>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <!-- MDBootstrap Datatables  -->
    <link href="../../css/addons/datatables.min.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <style>
      :host {
        display: block;
      }
    </style>



    <!--Main Navigation-->
    <header>
        <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light scrolling-navbar">
          <a class="navbar-brand" href="#"><strong>Navbar</strong></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link"
                            <button on-click="obtenerProductos" class="btn btn-outline-primary btn-sm m-0 waves-effect" type="button">Inicio</button>
                    ><span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                            <button on-click="obtenerProductos" class="btn btn-outline-primary btn-sm m-0 waves-effect" type="button">Productos</button>
                    ></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                            <button on-click="agregarProducto" class="btn btn-primary" type="button" name="agregarProducto">Agregar Producto</button>
                    ></a>
                </li>
            </ul>
              <ul class="navbar-nav nav-flex-icons">
                  <li class="nav-item">
                      <button onclick="myUbicacion" class="nav-link" type="button" name="myUbicacion">Mi Ubicación</button>
                      <!--a onclick="myUbicacion" class="nav-link" type="button" name="myUbicacion">Mi Ubicación</a-->

                      <!--p id="ubicacion"></p-->
                      <!--a class="nav-link" href="#">Cart   </a-->
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#">Logout</a>
                  </li>
              </ul>
          </div>
        </nav>
    </header>
    <!--Main Navigation-->


    <div class="container">
          <div class="row" hidden$={{!prodBooleano}}>
                <h1>Bienvenido a su tienda virtual</h1>
          <!--/div-->

          <table class="table table-striped table-responsive-md btn-table"></table>
              <thead>
                  <tr>
                    <th></th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <th scope="row"></th>
                      <td>
                          <!--button on-click="consultaPagos" class="btn btn-outline-primary" type="button" name="consultaPagos">Ver Carrito</button-->
                      </td>
                  </tr>
              </tbody>
          </table>
          </div>

          <div class="row" hidden$={{!prodBooleano}}>
                <table id="dtListaProductos" class="table table-striped" cellspacing="0" width="100%">
                  <thead>
                      <tr>
                          <th class="th-sm">ID Producto      </th>
                          <th class="th-sm">Nombre           </th>
                          <th class="th-sm">Descripcion      </th>
                          <th class="th-sm">Categoria        </th>
                          <th class="th-sm">Precio           </th>
                          <th class="th-sm">Moneda           </th>
                          <th class="th-sm">Fabricante       </th>
                          <th class="th-sm">Unidades en Stock</th>
                          <th class="th-sm">Comprar          </th>
                      </tr>
                  </thead>

                  <template is="dom-repeat" items="{{productos}}" index-as="index">
                      <tbody>
                          <tr>
                              <td>{{item.IDProducto}}</td>
                              <td>{{item.Nombre}}</td>
                              <td>{{item.Descripcion}}</td>
                              <td>{{item.Categoria}}</td>
                              <td>{{item.PrecioUnitario}}</td>
                              <td>{{item.Moneda}}</td>
                              <td>{{item.Fabricante}}</td>
                              <td>{{item.UnidadesStock}}</td>
                              <td>
                                  <span class="table-remove">
                                      <button type="button" class="btn btn-success btn-rounded btn-sm my-0">Comprar</button>
                                  </span>
                              </td>
                          </tr>
                      </tbody>
                  </template>

                  <tfoot>
                      <th>ID Producto      </th>
                      <th>Nombre           </th>
                      <th>Descripcion      </th>
                      <th>Categoria        </th>
                      <th>Precio           </th>
                      <th>Moneda           </th>
                      <th>Fabricante       </th>
                      <th>Unidades en Stock</th>
                      <th>Comprar          </th>
                  </tfoot>
                </table>

                <nav aria-label="Page navigation example">
                    <ul class="pagination pg-blue">
                        <li class="page-item"><a class="page-link">Previous</a></li>
                        <li class="page-item"><a class="page-link">1</a></li>
                        <li class="page-item"><a class="page-link">2</a></li>
                        <li class="page-item"><a class="page-link">3</a></li>
                        <li class="page-item"><a class="page-link">Next</a></li>
                    </ul>
                </nav>

          </div>

    </div>

    <div class="row">
      <span hidden$={{!agreProdBool}}>
          <agregar-producto></agregar-producto>
      </span>
    </div>

    <div class="row">
      <span hidden$={{!mapBool}}>
          <polys></polys>
      </span>
    </div>

  </template>


  <script>
    /*** @customElement
       * @polymer        ***/

    class GestorProductos extends Polymer.Element {

      static get is() { return 'gestor-productos'; }

      static get properties() {
        return {
          productos: {      type: Array,
                            notify: true  },
          prodBooleano: {   type: Boolean,
                            value: false  },
          movtos: {         type: Array,
                            notify: true  },
          movsBooleano: {   type: Boolean,
                            value: false   },
          agreProdBool: {   type: Boolean,
                            value: false  },
          mapBool: {   type: Boolean,
                            value: false  }
        }
      }

      //incrementar() {
      //  this.prop2 = this.prop2 + 1;
      //  console.log("prop2: " + this.prop2);
      //  console.log("prop1: " + this.prop1);
      //}
      myUbicacion() {
          this.mapBool = true;
          this.prodBooleano = false;
          this.movsBooleano = false;
          this.agreProdBool = false;
      }

      obtenerProductos() {
        console.log("entro al metodo obtenerProductos(0)");
        var request = new XMLHttpRequest();
        var url = "http://localhost:3010/productos";
        console.log("url: " + url);
        request.open("GET",url,false);
        console.log("entro al metodo obtenerProductos(4)");
        request.send();
        console.log(request.status);
        console.log(this.prodBooleano);
        if (request.status == 200) {
          this.prodBooleano = true;
          this.movsBooleano = false;
          this.agreProdBool = false;
          this.mapBool = false;
        } else {
          this.prodBooleano = false;
          this.movsBooleano = true;
          this.agreProdBool = false;
          this.mapBool = false;
        }
        console.log(this.prodBooleano);
        this.productos = JSON.parse(request.responseText);
        console.log("entro al metodo obtenerProductos(5)");
        console.table(this.productos);
        console.log("entro al metodo obtenerClientes(7)");
      }

      agregarProducto() {
        console.log("entro al metodo agregarProducto(0)");
        this.prodBooleano = false;
        console.log(this.agreProdBool);
        this.agreProdBool = true;
        console.log(this.agreProdBool);
        console.log("entro al metodo agregarProducto(1)");
      }

    }  //class GestorClientes extends Polymer.Element

    window.customElements.define(GestorProductos.is, GestorProductos);



  </script>
</dom-module>
